PORT=5000
DIALECT= 'mysql' #Deactivate this variable if you want to use postgres as your default db 

DB_HOST_NAME=''
DB_PORT=''
DB_USER_NAME=''
DB_PASSWORD=''
DB_NAME=''

PG_ADMIN_PORT=5050
PG_ADMIN_DEFAULT_EMAIL=''
PG_ADMIN_PASSWORD=''

MYSQL_PORT=''
MYSQL_USERNAME=''

PHPMYADMIN_PORT=''